/* ---colors--- */
.white{color: white;}
.space_gray{color: #919191}
.bg-color-black {background-color: black}

/* ---align--- */
.center{text-align: center;}
.left{text-align: left;}
.right{text-align: right;}

/* ---general--- */
body {
  margin: 0;
  background-color: black;
}
/* ---font and width--- */
p{
    font: 20px Arial,Verdana,sans-serif;
    margin: auto;
    line-height: 1.2em;
}
h1 {
    font: 75px Arial,Verdana,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: auto;
    padding: 20px;
}
h2 {
    font: 46px Arial,Verdana,sans-serif;
    font-weight: 400;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: auto;
}
h3{
    font: 30px Arial,Verdana,sans-serif;
    font-weight: 400;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: auto;
}
h4{
  font: 26px Arial,Verdana,sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}
.full-width-row{
    width: 100%;
}
.box-row{
  max-width: 640px;
}
@media screen and (min-width: 960px) {
.box-row{
    max-width: 860px;
}
}
@media screen and (max-width:680px) {
  .header img{
    max-width: 80%;
  }
  h1{
    font-size: 40px;}
  .header h3{
    font-size: 25px;
    padding: 0 20px;
  }
}
/* ---by sections--- */

/* header */
.header{
  padding: 300px 0;
  background-image: url("images/background-header.jpg");
  background-color:  black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* If later I need to turn off the parallax, I can do it with this media query: */
/* @media screen and (max-width: 560px) {
  .header {
    background-attachment: scroll;
  }
} */
.paragraph{
    padding: 150px 0 100px 0;
    margin: auto;
}
.paragraph p{
  line-height: 1.8em;
  font-size: 24px;
}
@media screen and (max-width: 680px) {
  .paragraph p {
    padding: 0 50px;
    font: 20px Arial,Verdana,sans-serif;
    line-height: 2.2em;
  }
  .parapraph{
    padding: 10px 0 10px 0;
  }
}
/* 3 columns numbers */
.three-columns-numbers{
    padding-bottom:150px;
}
@media screen and (max-width: 480px) {
  .three-columns-numbers p{
    padding: 0 10px;
}
}
.column{
    float: left; 
    width: 33.3%;
}
@media screen and (max-width: 960px) {
  .column{
    width: 100%;
    padding-top: 40px;
  }
}
.column-row{
    margin: auto;
}
.column-row::after{
    content: "";
    display: table;
    clear: both;
}

/* dynamic numbers */
@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  .numbers {
    animation: counter 2s infinite alternate ease-in-out;
    animation-iteration-count: 1;
    counter-reset: num var(--num);
    font: 85px Arial,Verdana,sans-serif;
    /* padding: 32px; */
    animation-fill-mode: forwards;
  }
  .numbers::after {
    content: counter(num);
  }
  
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 10000;
    }
  }
  .numbers2{
      font: 85px Arial,Verdana,sans-serif;
      /* padding: 32px; */
      position: relative;
  }
  @media screen and (min-width: 1920px) {
    .numbers2::after{
      content:url("https://64.media.tumblr.com/91bf9172a73d157bf4fe7fede6dc7a64/22cb9850dfb09a9d-a6/s500x750/afd6e2c1aed67d32cc759a5e2b99ea858d5d141c.gifv");
      position: absolute;
      z-index: 1;
      left: -800px;
      top: 0;
    }
    .numbers2::before{
      content:url("https://64.media.tumblr.com/91bf9172a73d157bf4fe7fede6dc7a64/22cb9850dfb09a9d-a6/s500x750/afd6e2c1aed67d32cc759a5e2b99ea858d5d141c.gifv");
      position: absolute;
      z-index: 1;
      right: -800px;
      top: 0;
    }
  }
  .numbers3 {
    animation: counter 2s infinite alternate ease-in-out;
    animation-iteration-count: 1;
    counter-reset: num var(--num);
    font: 85px Arial,Verdana,sans-serif;
    /* padding: 32px; */
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  .numbers3::after {
    content: counter(num);
  }

/* CTA */
.cta{
  background-image: url("images/background-cta.jpg");
  background-color:  black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cta div{
  margin: auto;
  padding: 400px 0;
}
.btn{
  font: 15px Arial,Verdana,sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: white solid 1px;
  padding: 20px 18px;
  text-decoration: none;
  /*necessary staff for special hover*/
  position: relative;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.fill:hover{
  color: black;
}
.fill:before{
  content: "";
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.15s ease-in;
}
.fill:hover:before {
  top: 0;
}

/* video */
.video{
  padding:0;
}
.video div{
  padding: 100px 0 100px 0;
  margin: auto;
}
@media screen and (max-width: 720px) {
  .video h2, .video p {
    padding-left: 20px;
  }
}
/* form */
.pre-form{
  margin: auto;
  padding-top: 0;
}
.pre-form p{
  font-size:20px;
  padding-top: 20px;
}
.form{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 150px;
  max-width: 500px;
  border: white solid 1px;
  padding: 35px 0 60px 0;
}
@media screen and (max-width: 680px) {
  .pre-form p {
    padding: 10px 50px 0 50px;
    font: 20px Arial,Verdana,sans-serif;
    line-height: 1.8em;
  }
}
@media screen and (min-width: 1620px) {
  .pre-form h2{
    padding-top: 100px;
  }
  .form{
    margin-bottom: 150px;
  }
}
.form-name{
  width: 80%;
  padding: 10px 15px;
  margin: 20px 20px;
  text-align: left;
  font-size: 20px;
}
.label{
  font: 20px Arial,Verdana,sans-serif;
  /* margin: 0 200px; */
  text-align: left;
}
.countries{
  width: 86%;
}
.vr-own{
  font: 20px Arial,Verdana,sans-serif;
  color: white;
}
input[type=submit] {
  width: 45%;
  background-color: white;
  font: 20px Arial,Verdana,sans-serif;
  color: black;
  padding: 14px 20px;
  margin: 25px 0;
  border: white solid 1px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: black;
  color: white;
}